// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.hero-container{
  width: 100vw;
  height: 100vh;
  
  .wrapper{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    .mypic{
      
      img{
        border-radius: 50%;
        width: 350px;
        height: 350px;
        object-fit: cover;
        border: 4px solid $title-text;

        &:hover{
          border: 4px solid $section-text;
        }
      }
    }
  
    .hero-title{
  
      h2{
        font-size: 3rem;
        color: $page-text;
      }
  
      h1{
        color: $title-text;
        margin: -20px 0;
        font-size: 10rem;
        letter-spacing: 6px;
      }
  
      span{
        color: $section-text;
      }
    }
  }

}
