// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.hero-container{
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/hero2.jpg");
  background-size: cover;
  background-position: center;

  .bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(68, 100, 97, 0.5) 65%, #344d4a 95%);
    // background-color: rgba(68, 100, 97, 0.7);

    .wrapper{
      width: 70%;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    
    
      .hero-title{
    
        h2{
          
          font-size: 3rem;
          color: $page-text;
          text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }
    
        h1{
          
          color: $title-text;
          margin: -20px 0;
          font-size: 10rem;
          letter-spacing: 6px;
          text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
    
        span{
          color: $section-text;
        }
      }
    }

  }
  
  

}
