// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');


.hero-container {
  width: 100%;
  height: 100vh;
  background: $light-background;
  @include flexCen;
  font-family: $default-font;

  .hero-wrapper{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;

    .hero-body{
      width: 50%;

      .hero-title{
  
        p{
          text-align: end;
          font-size: 2em;
          margin-bottom: -1.5em;
          padding: 0 3em;
          color: $section-text;
        }
        h1{
          color: $textColor;
          letter-spacing: 3px;
          font-size: 8rem;
        }
    
        h2{
          color: $section-text;;
          margin-top: -1em;
          font-size: 2em;
          font-weight: 400;
        }
      }
    }
    

    .hero-descript{
      margin-top: 1em;
      padding-right: 3em;


      h3{
        font-weight: 300;
        color: $paragraph-text;
        letter-spacing: 1px;

        span{
          color: $section-text;
        }
      }
    }

    .single-box{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
  
      .body-area{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
  
        h5{
          padding-top: 10px;
          color: $section-text;
          font-size: 1.5em;
          font-weight: 300;
        }
  
        .skills-order{
          width: 80%;
          display: flex;
          justify-content: space-evenly;
  
          ul{
            width: 60%;
    
              li{
                  @include listStyle;
                  color: $tech-text;
                  // color: rgb(226, 230, 209);
                  font-size: 20px;
                  letter-spacing: 1px;
                  text-transform: capitalize;
              }
          }
        }
      }
    }

    .hireme-btn{
      width: 40%;
      margin-top: 4em;

      a{
        border: solid 1px $section-text;
        border-radius: 5px;
        padding: 10px 20px;
        text-decoration: none;
        color: $section-text;
        font-size: 1.5em;
        letter-spacing: 1px;
        font-family: $anchor-font;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

        &:hover{
          background-color: #ffd0004b;
        }
      }
    }

    .hero-picture{
      width: 50%;
      height: 100%;
      display: contents;

      img{
        z-index: 0;
        margin-left: 10em;
        width: 400px;
        height: 80%;
        margin-top: auto;
      }
    }

  }
}

