@import '../../assets/Styles/mixin-variables.scss';

.about-container{
    width: 100%;
    height: 100vh;
    background-color: $color5;

    .about-wrapper{
        width: 80%;
        height: 100%;
        margin: auto;
        @include flexCen;
        flex-direction: column;

        .talents{
            @include flexCen;

            .card{
                width: 270px;
                height: 270px;
                margin: 0 10px 10px;
                background-color: #fff;
                border: 1px solid lightgray;
                text-align: center;
                background: #ffffff;;
                @include flexCen;
                flex-direction: column;
                margin-bottom: 50px;


                .talent-icon{
                    width: 96px;
                    height: 96px;
                    font-size: 50px;
                    margin-bottom: 10px;
                    @include flexCen;
                }

                h4{
                    padding: 0 5px;
                    font-size: 20px;
                    line-height: 30px;
                }

                p{
                    padding: 0 20px 40px;
                    margin-top: 21px;
                    text-align: center;
                }
            }
        }

        .about-box{
            padding: 30px;
            @include flexCen;
            background-color: #fff;
            border: 1px solid rgba(211, 211, 211, 0.555);


            .box{
                width: 45%;
                height: 100%;
                padding: 5rem 1rem;
                margin: 10px;
    
            }
            
            .my-words{
                transition: 0.3s;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                
    
                .about-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
    
                    h1{
                        @include componentTitle;
                    }
                }
            }
    
            
        }

        
    }

}