@import '../../assets/Styles/mixin-variables.scss';

.about-container{
    width: 100%;
    height: 100vh;
    @include flexCen;
    flex-direction: column;
    background-color: $color5;

    .about-wrapper{
        width: 80%;
        height: 60%;
        margin: auto;
        padding: 30px;
        @include flexCen;
        background-color: #fff;
        box-shadow: $inset;
        border-radius: 5%;

        .box{
            width: 45%;
            height: 100%;
            padding: 5rem 1rem;
            margin: 10px;

        }
        
        .my-words{
            transition: 0.3s;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            

            .about-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                width: 100%;
                height: 100%;

                h1{
                    @include componentTitle;
                }
            }
        }

        
    }

}