// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');


.aboutme-container {
  width: 100%;
  height: 40vh;
  background: $default-background;
  // margin-top: -15em;
  @include flexCen;
  z-index: 2;
  margin-bottom: 15em;

  .aboutme-wrapper{
    width: 100%;
    height: 100%;

  .single-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    .body-area{
      margin: auto;
      width: 40%;
      height: 80%;
      padding: 20px 30px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h5{
        padding: 10px 0;
        color: $title-text;
        font-size: 32px;
      }

      .skills-order{
        width: 80%;
        display: flex;
        justify-content: space-evenly;

        ul{
          width: 50%;
          
  
            li{
                margin-top: 1vh;
                @include listStyle;
                color: $tech-text;
                // color: rgb(226, 230, 209);
                font-size: 20px;
                letter-spacing: 1px;
                text-transform: capitalize;
            }
        }
      }
    }
  }
}
}

