// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.projects-container{
    height: 100vh;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin:auto;

    .project-box{
        padding: 10px 20px;
        width: 45%;
        height: 40vh;
        display: flex;
        margin: 1em 2em;
        background-color: transparent;
        @include sectionShadow;

        .project-pic{
            width: 50%;
            height: 100%;
            background-color: blanchedalmond;
        }

        .project-text{
            width: 50%;
            height: 100%;
            padding: 0 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            .p1{
                height: 70%;
                h1{
                    color: $darker-textColor;
                    font-size: 25px;
                    text-align: center;
                    margin: 5px 0;
                }
    
                p{
                    color: $darkest-textColor;
                    font-size: 20px;
                }
            }
            

            .p2{
                height: 15%;
                p{
                    color: $darker-textColor;
                    font-size: 16px;
                    word-spacing: 1em;
                }
            }
            
            .p3{
                height: 15%;
                a{
                    @include anchorStyle;
                    padding: 0 1em;
                    text-align: center;
                    font-size: 22px;
                }
            }

        }


    }
}