// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.projects-container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;

    @include media("<=desktop"){
        width: 80%;
        justify-content: center;
    }

    @include media("<=tablet"){
    width: 90%;
    justify-content: center;
    }

    .project-box{
        padding: 10px 20px;
        width: 45%;
        height: 30vh;
        display: flex;
        margin: 1em 2em;
        background-color: $dark-background;
        // @include ease-out;
        transition: all .4s ease;

        @include media("<=desktop"){
            width: 80%;
            margin: 1em 2em;
        }

        @include media("<=myphone"){
            width: 90%;
            margin: 1em 0;
            flex-direction: column;
            height: 100%;
        } 

        @include media("<=myphone"){
            width: 90%;
            margin: 1em 0;
            flex-direction: column;
            height: 100%;
        }

        
        &:hover{
            -moz-transform: translate(0px, -10px);
            -ms-transform: translate(0px, -10px);
            -o-transform: translate(0px, -10px);
            -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px)
}

        .project-pic{
            width: 50%;
            height: 100%;
            background-color: blanchedalmond;

            @include media("<=myphone"){
                width: 100%;
                height: 50%;
            }

            @include media("<=myphone"){
                width: 100%;
                height: 50%;
            } 

            img{
                width: 100%;
                height: 100%;
            }
        }

        .project-text{
            width: 50%;
            height: 100%;
            padding: 0 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            @include media("<=myphone"){
                width: 100%;
                height: 50%;
                padding: 1em 0;
            }

            @include media("<=myphone"){
                width: 100%;
                height: 50%;
                padding: 1em 0;
            } 
            
            .p1{
                height: 70%;
                h1{
                    color: $section-text;
                    font-size: 25px;
                    margin: 5px 0;
                    font-weight: 400;

                    @include media("<=myphone"){
                        font-size: 1.5em;
                        text-align: center;
                    } 

                    @include media("<=myphone"){
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
    
                p{
                    color: $paragraph-text;
                    font-size: 20px;

                    @include media("<=myphone"){
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
            }
            

            .p2{
                height: 22%;
                p{
                    color: $tech-text;
                    font-size: 16px;
                    word-spacing: 1em;
                    text-align: center;

                    @include media("<=myphone"){
                        font-size: 1.3em;
                        margin: 10px 0;
                    }
                }
            }
            
            .p3{
                height: 15%;

                @include media("<=myphone"){
                    font-size: 1.3em;
                    margin: 15px 0;
                }
                a{
                    margin-top: 20px;
                    @include anchorStyle;
                    padding: 1em;
                    text-align: center;
                    font-size: 18px;

                    @include media("<=myphone"){
                        font-size: 1.3em;
                        margin: 15px 0;
                    }

                    
                &:hover{
                    color: #806800;
                }
                }
            }

        }


    }
}