d{
    --color-scale-white: #f6f6f6;
    --color-scale-white2: #e8e8e8;
    --color-scale-white3: #bbbbbb;
    --color-scale-white3: #f8f8f8;
    --color-scale-black: #333333;
    --color-scale-dred: #990100;
    --color-scale-red: #b90504;
}