// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.navbar.active{
    background-color: $dark-background;
    height: 70px;
    transition: ease-in 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.575);
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 10px;
    background-color: transparent;
    transition: ease-in 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

    .nav-wrapper{
        width: 50%;
        margin: 0 0 0 auto;

        ul{
            @include navFlex;

            li{
                @include listStyle2;

                a{
                    color: $section-text;
                    font-size: 24px;
                    text-decoration: none;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
                    
                &:hover{
                    color: #a88900;
                }
                }
            }
        }
    }
}