// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.navbar.active{
    background-color: rgba(96, 141, 137, 0.5);
    height: 50px;
    // transition: ease-in 0.3s;
    padding: 0px 10px;

    @include media("<=hugemonitor"){
        height: 80px;    } 
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 10px;
    transition: ease-in 0.2s;

    z-index: 999;

    .nav-wrapper{
        width: 100%;
        @include navFlex;

        @include media("<=mobileL"){
            margin: auto;
            
          } 

        ul{
            width: 100%;
            @include navFlex;

            @include media("<=myphone"){
                justify-content: center;
              } 

            li{
                @include listStyle2;

                @include media("<=mobileL"){
                    padding: 5px 5px;
                    text-align: center;
                  } 

                a{
                    color: $section-text;
                    font-size: 24px;
                    text-decoration: none;
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
                    cursor: pointer;

                    
                @include media("<=hugemonitor"){
                    font-size: 3em;
                } 

                    @include media("<=mobileL"){
                        font-size: 1.5em;
                        text-align: center;
                      } 
                    
                &:hover{
                    color: #a88900;
                }

                
                
                
                }
            }
        }
    }
}

  