// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.navbar.active{
    background-color: $dark-background;
    height: 70px;
    transition: ease-in 0.3s;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 10px;
    background-color: transparent;
    transition: ease-in 0.3s;


    .nav-wrapper{
        width: 50%;
        margin: 0 0 0 auto;

        ul{
            @include navFlex;

            li{
                @include listStyle2;

                a{
                    @include anchorStyle;
                    font-size: 24px;
                }
            }
        }
    }
}