// Responsive
@import '../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../assets/Styles/mixin-variables.scss';

.sticky-container{
    width: 100px;
    height: 300px;
    display: block;
    position: fixed;
    left: 3.2em;
    top: 50%;
    padding: 20px;

    @include media("<=bigTablet"){
        left: 1.2em;
    } 

    @include media("<=tablet"){
        display: none;
    } 

    ul{

        li{
            margin: 10px 0;
            @include listStyle;

            .icon{
                font-size: 22px;
                @include anchorStyle;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
                
                &:hover{
                    color: #806800;
                }
            }
        }
    }
}


