// Responsive
@import '../../../assets/Styles/mediaQueries.scss';

// Variables and Mixins
@import '../../../assets/Styles/mixin-variables.scss';

.navbar.active{
    background-color: rgba(96, 141, 137, 0.5);
    height: 50px;
    // transition: ease-in 0.3s;
    padding: 0px 10px;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 10px;
    transition: ease-in 0.2s;

    z-index: 999;
}

  